@import '~styles/base/colors';

.mapContainer {
  flex-grow: 1;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  margin-bottom: 1.5rem;
}

.simulateButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
