@import '~styles/base/colors';

.pageContainer {
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
}

.cardSection {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 120px;
}

.shipmentsWrapper {
  border: 1px solid $borderColor;
  border-left: 2px solid $map1Primary;
  background: white;
  padding: 8px;
  flex: 1;
  margin-right: 1rem;
}

.shipmentsHeader {
  padding-bottom: .3rem;
}

.shipmentsAmount {
  font-size: 2.6rem;
  color: $accent1Color;
  font-weight: 300;
  padding-left: 1.5rem;
  margin-top: -.3rem;
}

.shipmentsSubtitle {
  font-size: 13px;
  font-weight: 600;
  color: $primary1Color;
}

.shipmentsBottom {
  display: flex;
  justify-content: space-between;
  padding-top: .3rem;
  color: $textColor;
  font-weight: 300;
  font-size: 14px;
}

.selected {
  color: $primary1Color;
  text-decoration: underline;
  font-weight: 500;
}
