@import '~styles/base/colors';

.wrapper {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.cardSection {
  background-color: white;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid $borderColor;
}

.cardSection > div {
  flex: 1;
}

.viewMode {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.viewMode > div {
  align-self: center;
}

.shipmentsTable {
  margin: 1.5rem;
}
