@import "~styles/base/colors";

.iconSection {
  background: $primary1Color;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  padding: 0;

  .iconContainer {
    margin: 0 5%;
    text-align: center;

    & h4 {
      color: $alternateTextColor;
      text-transform: uppercase;
    }

    & p {
      color: $alternateTextColor;
      font-weight: 300;
    }
  }

  @media screen and (min-width: 800px) {
    flex-direction: row;

    .iconContainer {
      width: 20%;
    }
  }
}


.icon {
  min-height: 151px;
}
