@import "~styles/base/colors";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  background: rgb(43, 51, 61);
  border-bottom: 12px solid $accent1Color;
  width: 100%;

  padding-bottom: 4rem;

  & h4 {
    color: $alternateTextColor;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
  }

  @media screen and (min-width: 800px) {
    & h4 {
      text-align: left;
    }
  }

}

.gradient {
  height: 2px;
  width: 100%;
  margin-bottom: 2rem;
  background: linear-gradient(to right,  $alternateTextColor 0%, $accent1Color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91c383',GradientType=1 );
}
