@import '~styles/base/colors';

.wrapper {
  border: 1px solid $map2Primary;
  margin: 1rem;
  background-color: $map2Accent;
  padding: 6px;
  padding-left: 12px;
  color: $map2Primary;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

.title {

}

.content {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;

}

.closeIcon {
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.hidden { display:none; }
