@import '~styles/base/colors';

.wrapper {
  border: 1px solid $borderColor;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content {
  color: $textColor;
  font-size: 0.875rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.weatherIcon {
  width: 32px;
  margin-right: 15px;
}
