.distributionCenter, .retailer, .shipment {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -16px;
  top: -16px;
  border-radius: 16px;

  & div {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 15px;
  }

  &.selected div {
    border-color: white;
  }
}

// --------------------------------------------
// Distribution Center
// --------------------------------------------
.distributionCenter {
  color: #cc780f;
  font-size: 16px;

  & div i {
    padding-top: 6px;
  }

  &:hover, &.selected {
    background-color: #cc780f;
    color: white;
  }
}

// --------------------------------------------
// Shipment
// --------------------------------------------
.shipment {
  color: #749f67;
  font-size: 16px;

  & div i {
    padding-top: 4px;
  }

  &:hover, &.selected {
    background-color: #749f67;
    color: white;
  }
}

// --------------------------------------------
// Retailer
// --------------------------------------------
.retailer {
  color: #ad3e9c;
  font-size: 24px;

  &:hover, &.selected {
    background-color: #ad3e9c;
    color: white;
  }
}

.weatherCircle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: -100px;
  top: -100px;
  background: #0F94A7;
  opacity: 0.4;
  align-items: center;
}

.weatherIcon {
  width: 50px;
  position: absolute;
  left: -25px;
  top: -25px;
  color: #0F94A7;
}
