@import '~styles/base/colors';

.distributionCenter, .retailer, .shipment {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -16px;
  top: -16px;
  border-radius: 16px;

  & div {
    width: 30px;
    height: 30px;
    margin: 1px;
  }

  &.selected div {
    border-color: white;
  }
}

// --------------------------------------------
// Distribution Center
// --------------------------------------------
.distributionCenter {
  color: #cc780f;
  font-size: 18px;

  & div i {
    padding-top: 6px;
  }

  &:hover, &.selected {
    background-color: #cc780f;
    color: white;
  }
}

// --------------------------------------------
// Shipment
// --------------------------------------------

.shipment {
  color: $map3Primary;
  font-size: 25px;


  & div i {
    padding-top: 4px;
  }

  &:hover, &.selected {
    background-color: $map3Primary;
    color: white;
    width: 36px;
    height: 35px;
  }
}


// --------------------------------------------
// Retailer
// --------------------------------------------
.retailer {
  color: $map2Primary;
  font-size: 24px;

  &:hover, &.selected {
    background-color: $map2Primary;
    color: white;
  }
}

.weatherCircle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: -100px;
  top: -100px;
  background: #047CC0;
  opacity: 0.15;
  align-items: center;
}

.weatherIcon {
  width: 50px;
  position: absolute;
  left: -25px;
  top: -25px;
  color: #047CC0;
}
