.stack {
  position: relative;
  cursor: pointer;
  margin-right: 30px;

  &:hover {
    .circle {
      color: $alternateTextColor;
    }
  }
}

.user {
  font-size: 1.2rem;
  color: $primary1Color;
  line-height: 3.3rem;
  margin-left: .3rem;
}

.circle {
  font-size: 1.9rem;
  color: $primary3Color;
  line-height: 3.3rem;
}
